<div class="relative">
  <button
    (click)="toggleSidebar()"
    class="sm:hidden fixed top-4 left-4 p-2 rounded-full bg-blue-500 text-white"
  >
    +
  </button>

  <div
    [ngClass]="{
      'translate-x-0': sidebarVisible,
      '-translate-x-full': !sidebarVisible
    }"
    class="fixed top-0 left-0 h-full w-64 bg-slate-50 transition-transform transform sm:translate-x-0 z-20"
  >
    <button
      (click)="toggleSidebar()"
      class="sm:hidden p-2 rounded-full bg-red-500 text-white m-4"
    >
      X
    </button>

    <div class="p-4">
      Sidebar content here
    </div>
  </div>

  @if(sidebarVisible) {
    <div
    (click)="toggleSidebar()"
    class="fixed inset-0 bg-black bg-opacity-50"
    ></div>
  }
</div>
